.u-section-1 {
  background-image: url("images/backgroundbeach.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 29px 90px 0;
}

.u-section-1 .u-image-1 {
  width: 321px;
  height: 214px;
  margin: 29px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1177px;
  margin: 27px -18px 29px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 207px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 207px;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 7px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 207px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-1 .u-text-6 {
  width: 166px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 207px;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-1 .u-text-8 {
  width: 166px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 207px;
}

.u-section-1 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-1 .u-text-10 {
  width: 166px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-text-2 {
    width: 174px;
    margin-top: -5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-text-4 {
    width: 174px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: 174px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-text-6 {
    width: 174px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-1 .u-text-8 {
    width: 174px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    width: 119px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    width: 119px;
  }

  .u-section-1 .u-text-5 {
    width: 119px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    width: 119px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    width: 119px;
  }

  .u-section-1 .u-text-9 {
    width: 119px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    width: 128px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 250px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-1 .u-text-4 {
    width: 197px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 239px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 150px;
  }

  .u-section-1 .u-text-6 {
    width: 197px;
  }

  .u-section-1 .u-text-7 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 150px;
  }

  .u-section-1 .u-text-8 {
    width: 176px;
  }

  .u-section-1 .u-text-9 {
    width: 345px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 146px;
  }

  .u-section-1 .u-text-11 {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1772px;
}

.u-section-2 .u-text-1 {
  width: 683px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  background-image: none;
  width: 833px;
  margin: 51px auto 0;
}

.u-section-2 .u-text-3 {
  width: 833px;
  margin: 33px auto 0;
}

.u-section-2 .u-image-1 {
  width: 355px;
  height: 209px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  width: 833px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  width: 833px;
  text-decoration: underline !important;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  width: 833px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-2 {
  height: 447px;
  margin: 51px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    width: 720px;
  }

  .u-section-2 .u-text-5 {
    width: 720px;
  }

  .u-section-2 .u-text-6 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1763px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
  }
}